-
	menu = [
		{	
			"title": "Главная",
			"link": "/",
			"submenu": [
				{
					"title": "Пункт 1",
					"link": "/",
				},
				{
					"title": "Пункт 2",
					"link": "/",
				},
				{
					"title": "Пункт 3",
					"link": "/",
				},
			]
		},
		{	
			"title": "О компании",
			"link": "about.html",
		},
		{	
			"title": "Новости",
			"link": "news.html",
		},
		{	
			"title": "Контакты",
			"link": "contacts.html",
		},
	],
	table = {
		"head": [
			{
				"title": "Изображение",
				"className": "th-image",
			},
			{
				"title": "Номер дела"
			},
			{
				"title": "Наименование знака"
			},
			{
				"title": "Страна"
			},
			{
				"title": "Классы"
			},
			{
				"title": "Владелец"
			},
			{
				"title": "Номер заявки",
				"className": "th-request-number",
			},
			{
				"title": "Дата заявки"
			},
			{
				"title": "Номер регистрации"
			},
			{
				"title": "Дата регистрации",
				"className": "th-register-date",
			},
			{
				"title": "Статус"
			},
			{
				"title": "Срок действия",
				"className": "th-validity",
			},
		],
		"body": [
			{
				"logo": "sber",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Россия",
				"classes": "Класс12345678910",
				"owner": "Иванов Иван Анатольевич",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Пример статуса 12312313123",
				"validity": "21.07.2024",
			},
			{
				"logo": "tinkoff",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Объединенные Арабские Эмираты",
				"classes": "Класс",
				"owner": "Владелец",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Статус",
				"validity": "21.07.2024",
			},
			{
				"logo": "mir",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Соединенные Штаты Америки",
				"classes": "Класс",
				"owner": "Владелец",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Статус",
				"validity": "21.07.2024",
			},
			{
				"logo": "sber",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Россия",
				"classes": "Класс",
				"owner": "Владелец",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Статус",
				"validity": "21.07.2024",
			},
			{
				"logo": "sber",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Россия",
				"classes": "Класс",
				"owner": "Владелец",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Статус",
				"validity": "21.07.2024",
			},
			{
				"logo": "sber",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Россия",
				"classes": "Класс",
				"owner": "Владелец",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Статус",
				"validity": "21.07.2024",
			},
			{
				"logo": "sber",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Россия",
				"classes": "Класс",
				"owner": "Владелец",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Статус",
				"validity": "21.07.2024",
			},
			{
				"logo": "sber",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Россия",
				"classes": "Класс",
				"owner": "Владелец",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Статус",
				"validity": "21.07.2024",
			},
			{
				"logo": "sber",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Россия",
				"classes": "Класс",
				"owner": "Владелец",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Статус",
				"validity": "21.07.2024",
			},
			{
				"logo": "sber",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Россия",
				"classes": "Класс",
				"owner": "Владелец",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Статус",
				"validity": "21.07.2024",
			},
			{
				"logo": "sber",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Россия",
				"classes": "Класс",
				"owner": "Владелец",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Статус",
				"validity": "21.07.2024",
			},
			{
				"logo": "sber",
				"caseNumber": "12345678910111213124151617",
				"nameSign": "Наименование 31231  6124214123123",
				"country": "Россия",
				"classes": "Класс",
				"owner": "Владелец",
				"requestNumber": "*2003*11231*29873",
				"requestDate": "21.07.2024",
				"registerNumber": "123456789101121314151617",
				"registerDate": "21.07.2024",
				"status": "Статус",
				"validity": "21.07.2024",
			},
		]
	},
	trademark = {
		"mainTable": [
			{
				"caption": "Страна",
				"value": "Страна"
			},
			{
				"caption": "Владелец",
				"value": "Владелец"
			},
			{
				"caption": "Номер дела",
				"value": "Владелец"
			},
			{
				"caption": "Номер дела МВ",
				"value": "Владелец"
			},
			{
				"caption": "Срок действия",
				"value": "Владелец"
			},
			{
				"caption": "Номер заявки",
				"value": "Владелец"
			},
			{
				"caption": "Дата заявки",
				"value": "Владелец"
			},
			{
				"caption": "Номер регистрации",
				"value": "Владелец"
			},
			{
				"caption": "Дата регистрации",
				"value": "Владелец"
			},
			{
				"caption": "Дата публикации",
				"value": "Владелец"
			},
			{
				"caption": "Статус",
				"value": "Владелец"
			},
			{
				"caption": "Классы",
				"value": "Владелец"
			},
			{
				"caption": "Дата конвенционного приоритета",
				"value": "Владелец"
			},
			{
				"caption": "Номер заявки конвенционного приоритета",
				"value": "Владелец"
			},
			{
				"caption": "Страна конвенционного приоритета",
				"value": "Владелец"
			},
			{
				"caption": "Перечень товаров (русский)",
				"value": "Владелец"
			},
			{
				"caption": "Перечень товаров (английский)",
				"value": "Владелец"
			},
			{
				"caption": "Знак (словесные элементы)",
				"value": "Владелец"
			},
			{
				"caption": "Указание цвета (русский)",
				"value": "Владелец"
			},
			{
				"caption": "Указание цвета (английский)",
				"value": "Владелец"
			},
			{
				"caption": "Агент",
				"value": "Владелец"
			},
			{
				"caption": "Номер дела агента",
				"value": "Владелец"
			},
			{
				"caption": "Дата получения инструкций",
				"value": "Владелец"
			},
			{
				"caption": "Ответственный",
				"value": "Владелец"
			},
			{
				"caption": "Примечания",
				"value": "Владелец"
			},
		],
		"reminderTable": {
			"head": [
				{
					"title": "Срок напоминания",
					"class": "th-term",
				},
				{
					"title": "Напоминание",
					"class": "th-text",
				},
				{
					"title": "Ответственный",
					"class": "th-responsible"
				},
				{
					"title": "Завершено (да / нет)",
					"class": "th-completed",
				},
			],
			"body": [
				{
					"term": "11 февраля 2030",
					"text": "Пример напоминания",
					"responsible": "Иванов Иван Иванович",
					"completed": "Да",
				},
				{
					"term": "15 февраля 2030",
					"text": "Пример напоминания Пример напоминания Пример напоминания Пример напоминания",
					"responsible": "Иванов Иван Иванович",
					"completed": "Нет",
				},
				{
					"term": "17 февраля 2030",
					"text": "Пример напоминания",
					"responsible": "Иванов Иван Иванович",
					"completed": "Да",
				},
			]
		}
	},
	email = {
		"table": {
			"head": [
				{
					"style": "177",
					"title": "Наименование знака",
				},
				{
					"style": "113px",
					"title": "Срок действия / Срок напоминания",
				},
				{
					"style": "130px",
					"title": "Напоминание:",
				},
				{
					"style": "65px",
					"title": "Осталось дней:",
				},
				{
					"style": "92px",
					"title": "Номер дела:",
				},
				{
					"style": "96px",
					"title": "Страна:",
				},
				{
					"style": "117px",
					"title": "Классы:",
				},
				{
					"style": "98px",
					"title": "Владелец:",
				},
				{
					"style": "97px",
					"title": "Номер заявки:",
				},
				{
					"style": "96px",
					"title": "Дата заявки:",
				},
				{
					"style": "97px",
					"title": "Номер регистрации:",
				},
				{
					"style": "98px",
					"title": "Дата регистрации:",
				},
				{
					"style": "98px",
					"title": "Номер дела МВ:",
				},
			],
			"body": [
				{
					"sign": "PALL MALL STREAMING",
					"term": "09.11.23",
					"comment": "Комментарий из напоминания / из напоминания",
					"days": "7",
					"caseNumber": "8254684",
					"county": "Российская федерация",
					"classes": "Пример классаа",
					"owner": "Иванов Иван Иванович",
					"requestNumber": "979463151",
					"requestDate": "09.11.23",
					"registerNumber": "979463151",
					"registerDate": "09.11.23",
					"caseNumber_MB": "979463151",
				},
				{
					"sign": "Сбербанк",
					"term": "09.11.23",
					"comment": "Комментарий из напоминания / из ",
					"days": "6",
					"caseNumber": "8254684",
					"county": "Российская федерация",
					"classes": "Пример классаа",
					"owner": "Иванов Иван Иванович",
					"requestNumber": "979463151",
					"requestDate": "09.11.23",
					"registerNumber": "979463151",
					"registerDate": "09.11.23",
					"caseNumber_MB": "979463151",
				},
				{
					"sign": "Сбербанк",
					"term": "09.11.23",
					"comment": "Комментарий из напоминания / из ",
					"days": "5",
					"caseNumber": "8254684",
					"county": "Российская федерация",
					"classes": "Пример классаа",
					"owner": "Иванов Иван Иванович",
					"requestNumber": "979463151",
					"requestDate": "09.11.23",
					"registerNumber": "979463151",
					"registerDate": "09.11.23",
					"caseNumber_MB": "979463151",
				},
				{
					"sign": "Сбербанк",
					"term": "09.11.23",
					"comment": "Комментарий из напоминания / из ",
					"days": "4",
					"caseNumber": "8254684",
					"county": "Российская федерация",
					"classes": "Пример классаа",
					"owner": "Иванов Иван Иванович",
					"requestNumber": "979463151",
					"requestDate": "09.11.23",
					"registerNumber": "979463151",
					"registerDate": "09.11.23",
					"caseNumber_MB": "979463151",
				},
				{
					"sign": "Сбербанк",
					"term": "09.11.23",
					"comment": "Комментарий из напоминания / из ",
					"days": "4",
					"caseNumber": "8254684",
					"county": "Российская федерация",
					"classes": "Пример классаа",
					"owner": "Иванов Иван Иванович",
					"requestNumber": "979463151",
					"requestDate": "09.11.23",
					"registerNumber": "979463151",
					"registerDate": "09.11.23",
					"caseNumber_MB": "979463151",
				},
				{
					"sign": "Сбербанк",
					"term": "09.11.23",
					"comment": "Комментарий из напоминания / из ",
					"days": "4",
					"caseNumber": "8254684",
					"county": "Российская федерация",
					"classes": "Пример классаа",
					"owner": "Иванов Иван Иванович",
					"requestNumber": "979463151",
					"requestDate": "09.11.23",
					"registerNumber": "979463151",
					"registerDate": "09.11.23",
					"caseNumber_MB": "979463151",
				},
				{
					"sign": "Сбербанк",
					"term": "09.11.23",
					"comment": "Комментарий из напоминания / из ",
					"days": "4",
					"caseNumber": "8254684",
					"county": "Российская федерация",
					"classes": "Пример классаа",
					"owner": "Иванов Иван Иванович",
					"requestNumber": "979463151",
					"requestDate": "09.11.23",
					"registerNumber": "979463151",
					"registerDate": "09.11.23",
					"caseNumber_MB": "979463151",
				},
				{
					"sign": "Сбербанк",
					"term": "09.11.23",
					"comment": "Комментарий из напоминания / из ",
					"days": "4",
					"caseNumber": "8254684",
					"county": "Российская федерация",
					"classes": "Пример классаа",
					"owner": "Иванов Иван Иванович",
					"requestNumber": "979463151",
					"requestDate": "09.11.23",
					"registerNumber": "979463151",
					"registerDate": "09.11.23",
					"caseNumber_MB": "979463151",
				},
				{
					"sign": "Сбербанк",
					"term": "09.11.23",
					"comment": "Комментарий из напоминания / из ",
					"days": "4",
					"caseNumber": "8254684",
					"county": "Российская федерация",
					"classes": "Пример классаа",
					"owner": "Иванов Иван Иванович",
					"requestNumber": "979463151",
					"requestDate": "09.11.23",
					"registerNumber": "979463151",
					"registerDate": "09.11.23",
					"caseNumber_MB": "979463151",
				},
			]
		}
	};