body.is-open {
    & .main__aside {
        width: 406px;
        @media screen and (max-width: $lg) {
            width: 100%;
            left: 0;
        }
    }
    & .detail-search {
        transform: translateX(0%);
        @media screen and (max-width: $lg) {
            &__btn-close {
                &::after {
                    transform: rotate(90deg);
                    mask-size: 12px 16px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}
.detail-search {
    padding: 88px 40px 60px;
    position: relative;
    width: 406px;
    transform: translateX(-100%);
    max-height: 100%;
    background-color: $white;
    z-index: 10;
    position: relative;
    transition: transform 0.5s ease-in-out 0s;
    @media screen and (max-width: $lg) {
        width: 100%;
        transform: none;
        padding: 66px 16px 40px;
    }
    & .simplebar-track.simplebar-vertical {
        width: 4px;
    }
    & .simplebar-scrollbar {
        width: 4px;
        &::before {
            width: 4px;
            top: 0;
            left: 0;
            right: 2px;
            bottom: 0;
            background: #868a95;
            opacity: 1;
        }
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        @media screen and (max-width: $md) {
            gap: 24px;
        }
    }
    &__btn-close {
        color: $text_gray;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        display: flex;
        align-items: center;
        gap: 8px;
        position: absolute;
        top: 40px;
        right: 16px;
        &::after {
            content: "";
            display: block;
            width: 11px;
            height: 24px;
            mask-image: url("../images/icons/arrow-left.svg");
            mask-repeat: no-repeat;
            mask-position: center;
            background-color: #4a4d56;
            transition: transform 0.3s ease 0s;
        }
        @media screen and (max-width: $lg) {
            right: auto;
            left: 50%;
            transform: translateX(-50%);
            top: 20px;
            color: #868a95;
            &::after {
                transform: rotate(-90deg);
                background-color: #868a95;
            }
        }
    }
    &__title {
        color: $black;
        font-size: 26px;
        font-weight: 600;
        line-height: 136%;
        margin-bottom: 20px;
        @media screen and (max-width: $md) {
            font-size: 18px;
            margin-bottom: 16px;
            max-width: 90%;
        }
    }
    &__btn-doc {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        border: 1px solid transparent;
        transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s,
            color 0.3s ease 0s;
        &::before {
            content: "";
            display: block;
            width: 19px;
            height: 19px;
            background-color: $white;
            mask-image: url("../images/icons/doc.svg");
            mask-repeat: no-repeat;
            mask-position: center;
            transition: background-color 0.3s ease 0s;
        }
        @media screen and (max-width: $md) {
            padding: 10px 8px;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $white;
                border-color: $black;
                color: $black;
                &::before {
                    background-color: $black;
                }
            }
        }
        &:focus-visible,
        &:focus {
            color: $black;
            background-color: $white;
            border-color: $black;
            &::before {
                background-color: $black;
            }
        }
    }

    &__form {
    }
}
.btn-black {
}
.detail-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    &__groups {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
    }
    &__group {
    }
    &__label {
        color: $black;
        font-size: 16px;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 12px;
    }
    &__input {
        @media screen and (max-width: $md) {
            min-height: 43px;
            padding: 10px 12px;
        }
        // min-height: 43px;
    }
    &__actions {
        margin: 16px 0 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn-delete {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 4px;
        color: #868a95;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        transition: color 0.3s ease 0s;
        margin-left: auto;
        &::before {
            width: 14px;
            height: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $red;
            }
        }
    }
    &__btn-add {
        color: $red;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $red;
            }
        }
        &:focus-visible {
            color: $red;
        }
    }
    &__btn-search {
        width: 150px;
    }
    &__btn-clear {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 4px;
        color: #868a95;
        &::before {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
            display: grid;
            place-items: center;
            font-size: 14px;
        }
    }
    &__radiobuttons {
        max-width: 260px;
        margin: 24px auto 0;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    &__radiobutton {
    }
    &__dates {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    &__bottom {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        &-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        & .detail-form__btn-add {
            color: $black;
        }
    }
}
.detail-date {
    & .form-input {
        text-align: right;
        &::placeholder {
            text-align: right;
        }
    }
    &__item {
        position: relative;
    }
    &__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
        color: $text_gray;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
    }
}
.form-item {
}
.form-input {
}
.checkbox {
    &__item {
    }
}
.icon-close-sm {
}
.radiobutton-item {
}
.dropdown {
    padding-bottom: 12px;
    border-bottom: 1px solid $gray_light;
    &.active {
        & .dropdown__wrapper {
            display: block;
        }
        & .dropdown__button {
            &::before {
                transform: rotate(-180deg);
            }
        }
    }
    &__button {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        color: $black;
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;
        cursor: pointer;
        width: 100%;
        &::before {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            display: grid;
            place-items: center;
            font-size: 10px;
            transition: transform 0.3s ease 0s;
        }
    }
    &__wrapper {
        margin-top: 16px;
        width: 100%;
        display: none;
    }
    &__search {
        position: relative;
        margin-bottom: 10px;
        &-button {
            position: absolute;
            top: 0;
            left: 12px;
            width: 20px;
            height: 20px;
            &::before {
                color: $gray_light;
                font-size: 15px;
            }
        }
    }
    &__input {
        width: 100%;
        padding: 0px 12px 12px 42px;
        font-family: "Noto Sans" sans-serif;
        font-weight: 400;
        line-height: 120%;
        font-size: 15px;
        color: $black;
        border-bottom: 1px solid $gray_light;
        &::placeholder {
            font-weight: 400;
            line-height: 120%;
            font-size: 15px;
            color: $gray_light;
        }
    }
    &__list {
        @include reset-list;
        display: flex;
        flex-direction: column;
        gap: 4px;
        overflow-y: auto;
        overflow-x: hidden;
        height: fit-content;
        max-height: 140px;
        & .simplebar-scrollbar {
            &::before {
                border-radius: 11px;
                background: #868a95;
                opacity: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        & .simplebar-track.simplebar-vertical {
            width: 3px;
        }
    }
    &__list-item {
        padding: 6px 12px;
        transition: background-color 0.3s ease 0s;
        cursor: pointer;
        border-radius: 2px;
        color: #4a4d56;
        font-size: 15px;
        line-height: 120%;
        min-height: 32px;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
        & .checkbox-item label {
            color: inherit;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: #f1f2f7;
            }
        }
    }
}
.dropdown-condition {
    & .dropdown__list-item {
        padding: 0;
        & .form-item {
            & input:checked {
                & ~ label {
                    background-color: #f1f2f7;
                }
            }
            & label {
                padding: 6px 12px;
                width: 100%;
            }
        }
    }
}
