.header {
    background-color: $black;
    min-height: 107px;
    display: flex;
    align-items: stretch;
    color: $white;
    padding: 0 40px;
    position: relative;
    z-index: 10;
    &__body {
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
    }
    &__left {
        display: flex;
        gap: 0 60px;
    }
    &__logo {
        flex: 0 0 223px;
    }
    &__links {
        display: flex;
    }
    &__link {
        display: grid;
        place-items: center;
        padding: 40px 24px;
        color: $white;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        transition: background-color 0.3s ease-in-out 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $red;
            }
        }
    }
    &__actions {
        display: flex;
    }

    &__language {
    }

    &__user {
    }
    &__menu {
        display: grid;
    }
}
.logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 29px;
    background-color: $red;
}
.language-header {
    position: relative;
    display: grid;
    transition: background-color 0.3s ease-in-out 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: $red;
            & .language-header__dropdown {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;
            }
            & .language-header__current {
                &::before {
                    transform: rotate(-180deg);
                }
            }
        }
    }
    &__current {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        font-size: 18px;
        line-height: 120%;
        padding: 40px 24px;
        cursor: pointer;
        &::before {
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 8px;
            transition: transform 0.3s ease 0s;
        }
    }
    &__dropdown {
        position: absolute;
        right: 0;
        top: 100%;
        color: $black;
        z-index: 10;
        padding-top: 6px;
        transform: translateY(20px);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    }
    &__choice {
        min-height: 104px;
        width: 140px;
        padding: 10px 4px;
        border-radius: 2px;
        background: $white;
        box-shadow: 0px 4px 14px 9px rgba(0, 0, 0, 0.05);
    }
    &__list {
        @include reset-list;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__item {
    }
    &__link {
        padding: 6px 12px;
        border-radius: 2px;
        color: $black;
        font-size: 16px;
        line-height: 120%;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: background-color 0.3s ease 0s;
        min-height: 34px;
        @media (any-hover: hover) {
            &:hover {
                background-color: #f1f2f7;
            }
        }
        &::before {
            display: none;
        }
        &.current {
            &::before {
                display: block;
            }
        }
    }
}
.user-header {
    position: relative;
    display: grid;
    @media (any-hover: hover) {
        &:hover {
            & .user-header__dropdown {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;
            }
        }
    }
    &__data {
        cursor: pointer;
        padding: 40px 24px;
        display: grid;
        place-items: center;
        font-size: 18px;
        line-height: 120%;
        transition: background-color 0.3s ease-in-out 0s;
        position: relative;
        @media (any-hover: hover) {
            &:hover {
                background-color: $red;
            }
        }
        &-label {
            overflow: hidden;
            width: 180px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__dropdown {
        color: $black;
        position: absolute;
        right: 0;
        top: 100%;
        padding-top: 6px;
        opacity: 0;
        transform: translateY(20px);
        pointer-events: none;
        transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    }
    &__body {
        width: 283px;
        min-height: 158px;
        padding: 10px 4px;
        border-radius: 2px;
        background: $white;
        box-shadow: 0px 4px 14px 9px rgba(0, 0, 0, 0.05);
    }
    &__top {
        padding: 6px 0 14px;
        border-bottom: 1px solid $gray;
        text-align: center;
        line-height: 120%;
        margin-bottom: 16px;
    }
    &__list {
        @include reset-list;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__item {
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px 12px;
        border-radius: 2px;
        min-height: 34px;
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #f1f2f7;
            }
        }
    }
}
.icon-settings,
.icon-exit {
    &::before {
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: $black;
    }
}
.icon-settings {
    &::before {
        mask-image: url("../images/icons/settings.svg");
    }
}
.icon-exit {
    &::before {
        mask-image: url("../images/icons/exit.svg");
    }
}
