.main-search {
    @media screen and (max-width: $lg) {
        margin-bottom: 16px;
    }
    &__header {
        margin-bottom: 30px;
        & .form-item {
            position: relative;
            width: 100%;
        }
        @media screen and (max-width: $lg) {
            margin-bottom: 16px;
        }
    }
    &__form {
    }
    &__input {
        border-radius: 6px;
        border: 1px solid $gray;
        background: $white;
        padding: 12px 50px 11px 11px;
        min-height: 46px;
        color: $black;
        font-family: "Noto Sans", sans-serif;
        font-size: 16px;
        line-height: 120%;
        width: 100%;
        transition: border-color 0.3s ease 0s;
        &::placeholder {
            color: $gray_light;
            font-family: "Noto Sans", sans-serif;
            font-size: 16px;
        }
        @media screen and (max-width: $md) {
            font-size: 14px;
            &::placeholder {
                font-size: 14px;
            }
        }
        &:focus,
        &:focus-visible {
            border-color: $black;
            box-shadow: none;
        }
    }
    &__btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            color: $red;
            font-size: 22px;
            @media screen and (max-width: $md) {
                font-size: 20px;
            }
        }
    }
    &__result {
    }
    &__info {
        display: flex;
        align-items: center;
        gap: 6px;
        color: $black;
        font-size: 26px;
        font-weight: 600;
        @media screen and (max-width: $md) {
            font-size: 16px;
            gap: 6px;
        }
        &--show {
            @media screen and (max-width: $md) {
                display: none;
            }
        }
    }
    &__title {
        line-height: 120%;
        font-size: inherit;
        @media screen and (max-width: $md) {
            & span {
                display: none;
            }
        }
    }
    &__count {
        line-height: 120%;
        color: $red;
    }
    &__actions {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        @media screen and (max-width: $lg) {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            gap: 0;
        }
    }
    &__button {
        &-mobile {
            display: none;
            @media screen and (max-width: $lg) {
                display: block;
                flex-grow: 1;
                padding: 20px;
                border-radius: 0;
                background-color: #282831;
                min-height: 59px;
            }
        }
        &-detail {
            background-color: $red;
            color: $white;
            padding: 10px 15px;
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            min-height: 59px;
            flex-grow: 1;
            display: none;
            @media screen and (max-width: $lg) {
                display: block;
            }
        }
        @media screen and (max-width: $lg) {
            display: none;
        }
    }
    &__clear {
        color: $text_gray;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        &::before {
            color: currentColor;
            font-size: 14px;
        }
    }
    .result-search {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        background-color: $white;
        &-sticky {
            position: fixed;
            top: 16px;
            width: 100%;
            z-index: 20;
            display: none;
        }
        @media screen and (max-width: $lg) {
            flex-direction: column;
            gap: 8px;
            margin: -16px;
            padding: 16px;
        }
        &__data {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 4px 0 0;
            @media screen and (max-width: $lg) {
                padding: 0;
                gap: 8px;
            }
        }
        &__top {
        }
        &__bottom {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px 17px;
            & .main-search__info {
                font-size: 18px;
                @media screen and (max-width: $md) {
                    font-size: 16px;
                }
            }
        }
    }
}
body.home {
    & .main-search {
        &__actions {
            @media screen and (max-width: $lg) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: stretch;
            }
        }
    }
}
.icon-clear {
    &::before {
        transition: transform 0.3s ease 0s;
    }
    @media (any-hover: hover) {
        &:hover {
            &::before {
                transform: rotate(180deg);
            }
        }
    }
}

body.is-sticky {
    @media screen and (max-width: $lg) {
        & .result-search {
            position: fixed;
            z-index: 15;
            top: 16px;
            left: 16px;
            width: 100%;
        }
    }
}
