.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.8);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease 0s;
    z-index: 30;
    &.open-modal {
        opacity: 1;
        visibility: visible;
        & .modal__content {
            opacity: 1;
            transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        }
    }
    &-instructions {
        & .modal__content {
            max-width: 1100px;
        }
    }
    &__wrapper {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        transition: all 0.5s ease 0s;
    }
    &__content {
        border-radius: 6px;
        background: $white;
        max-width: 675px;
        width: 100%;
        padding: 60px;
        position: relative;
        max-height: 820px;
        @media screen and (max-width: $md) {
            padding: 40px 15px 40px 15px;
        }
        & .simplebar-track.simplebar-vertical {
            width: 4px;
            background-color: #f1f2f7;
            border-radius: 10px;
        }
        & .simplebar-scrollbar {
            border-radius: 10px;
            &::before {
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                border-radius: 10px;
            }
        }
        // opacity: 0;
        // transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        // transition: all 0.5s ease 0s;
    }
    &__close {
        position: absolute;
        padding: 20px;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        color: #868a95;
        &::before {
            color: currentColor;
            font-size: 16px;
        }
    }
    &__title {
        margin-bottom: 40px;
    }
    &__description {
        color: #676767;
        font-size: 16px;
        line-height: 120%;
        & p {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        & ol {
            padding-left: 20px;
            margin-bottom: 20px;
        }
    }
}

.modal-form {
    &__title {
        color: $black;
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        line-height: 120%;
    }
    &__header {
        margin-bottom: 30px;
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 0 62px;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
    & .form-item {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__button {
        min-height: 42px;
    }
    &__bottom {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
    &__agreement {
        color: $gray_light;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
        & a {
            text-decoration: underline;
        }
    }
}

.notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    &__icon {
    }
    &__text {
        @extend .modal-form__title;
        line-height: 136%;
    }
}
