.main__table {
    & .tr {
        display: grid;
        grid-template-columns: 46px 89px 144px 201px 168px 109px 138px 146px 120px 157px 140px 144px 107px 87px;
    }
}
.table {
    // border: 1px solid $gray;
    border-radius: 6px;
    background-color: $white;
    position: relative;
    & .th-checkbox,
    & .td-checkbox {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 5;
    }
    & .th-checkbox {
        border-radius: 6px 0 0 0;
    }
    & .th-validity,
    & .td-validity {
        position: sticky;
        right: 83px;
        top: 0;
        z-index: 5;
    }
    & .th-view,
    & .td-view {
        position: sticky;
        top: 0;
        right: 0;
    }
    &.sticky {
    }
    & .th,
    & .td {
        background-color: $white;
    }
    & .tr {
        & > * {
            border-bottom: 1px solid $gray;
        }
    }
    &__header {
        // border-radius: 6px 6px 0 0;
        // border-bottom: none;
        & .tr {
            min-height: 62px;
        }
        & .th {
            border-top: 1px solid $gray;
            &:first-child {
                border-left: 1px solid $gray;
            }
            &:last-child {
                border-right: 1px solid $gray;
                border-radius: 0 6px 0 0;
            }
        }
    }
    &__body {
        & .tr {
            min-height: 54px;
            &:last-child {
                & .td-image {
                    &-tooltip {
                        top: auto;
                        transform: none;
                        bottom: 0;
                    }
                }
                & .td {
                    &:first-child {
                        border-radius: 0 0 0 6px;
                    }
                    &:last-child {
                        border-radius: 0 0 6px 0px;
                    }
                }
            }
        }
        & .td {
            &:first-child {
                border-left: 1px solid $gray;
            }
            &:last-child {
                border-right: 1px solid $gray;
            }
        }
    }
    & .th {
        color: $black;
        font-size: 14px;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        padding: 10px 12px;
        cursor: pointer;
        &-image {
            hyphens: auto;
            padding: 10px 5px;
            word-break: break-all;
        }
        &-view {
            word-break: break-all;
            padding: 10px 18px;
        }
        &-checkbox {
            justify-content: center;
        }
        &.no-active {
            & .sorting-button-up {
                opacity: 0;
            }
            & .sorting-button-down {
                opacity: 0;
            }
        }
        &[data-sort-direction="asc"] {
            & .sorting-button-up {
                opacity: 1;
            }
            & .sorting-button-down {
                opacity: 0;
            }
        }
        &[data-sort-direction="desc"] {
            & .sorting-button-up {
                opacity: 0;
            }
        }
        &[data-sort-direction="desc"] {
            & .sorting-button-down {
                opacity: 1;
            }
        }
    }
    & .th[class*="th-"] {
        & .th-title {
            text-align: center;
        }
    }
    & .td {
        color: #676767;
        font-size: 14px;
        line-height: 120%;
        font-weight: 400;
        padding: 7px 12px;
        display: flex;
        align-items: center;
        &-checkbox,
        &-view {
            justify-content: center;
        }
        &-case,
        &-name-sign,
        &-classes,
        &-request-number,
        &-register-number,
        &-status {
            word-break: break-all;
        }
        &-image {
            position: relative;
        }
        &-image-tooltip {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50px;
            width: 150px;
            height: 108px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            border-radius: 6px;
            border: 1px solid $gray;
            background: $white;
            box-shadow: -6px 4px 14px 9px rgba(0, 0, 0, 0.05);
            opacity: 0;
            visibility: hidden;
            z-index: 4;
            transition: all 0.3s ease 0s;
            &.show {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0s;
            }
        }
    }
}

.sorting-buttons {
    width: 14px;
    height: 14px;
    flex: 0 0 14px;
    gap: 2px;
    position: relative;
}
.sorting-button {
    &::before {
        display: block;
        width: 8px;
        height: 4px;
        font-size: 4px;
        color: $red;
    }
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    &-up {
        top: 0;
    }
    &-down {
        bottom: 0;
    }
}

.button-view {
    color: $gray_light;
    transition: color 0.3s ease 0s;
    &::before {
        color: currentColor;
    }
    @media (any-hover: hover) {
        &:hover {
            color: $red;
        }
    }
}
