extends includes/layout.pug

append variables
	- let pageTitle = "Страница входа";
	- description += pageTitle;
block content
	.auth 
		form(action="#").auth-form
			h1.auth-form__title Восстановление пароля
			.auth-form__items 
				.auth-form__item.form-item.icon-lock-t
					input(type="email" placeholder="Электронная почта").auth-form__input.form-input
			.auth-form__bottom
				input(type="submit", value="Восстановить пароль").auth-form__button.btn.btn-red