extends includes/layout.pug

append variables
	- let pageTitle = "Главная";
	- description += pageTitle;
	- home = true;
	- tableVisible = true;
block content
	.main__wrapper 
		aside.main__aside.filter
			button(type="button" data-filter-open).filter__button.icon-filter
			include ./components/detail-search
		.main__body 
			.main__content
				include ./components/main-search
				include ./components/main-table
