extends includes/layout.pug

append variables
	- let pageTitle = "Главная";
	- description += pageTitle;
block content
	.main__wrapper 
		aside.main__aside.filter
			button(type="button").filter__button.icon-filter
			include ./components/detail-search
		.main__body 
			.main__content
				include ./components/main-search
				include ./components/main-table
prepend scripts
	script(src="https://code.jquery.com/jquery-3.5.1.js")
//- 	script(src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js")
