footer.footer
	.footer__body 
		.footer__item © Меллинг, Войтишкин и Партнеры, 2023 
		.footer__item.company-footer
			.company-footer__text Разработка сайта: 
			a(href="https://webshop.ru/").company-footer__logo
				img(src="images/webshop-logo.svg", alt="логотип вебшоп")
		a(href="#" target="_blank").footer__item Политика обработки персональных данных