header.header#header
	.header__body
		.header__left
			.header__logo 
				a.logo(href="/")
					picture
						source(srcset="images/logo.svg" media="(min-width: 991.98px)" alt="логотип")
						source(srcset="images/logo_mobile.svg" media="(min-width: 300px)" alt="логотип")
						img(src="images/logo.svg", alt="логотип")
			.header__menu
				nav.header__links
					a(href="#").header__link.icon-arrow-down Список товарных знаков
					a(href="prolongation.html").header__link.icon-arrow-down Необходимо продление в ближайшее время
		.header__actions 
			.header__language.language-header
				.language-header__current.icon-arrow-down Ru
				.language-header__dropdown
					.language-header__choice
						ul.language-header__list 
							li.language-header__item
								a(href="#").language-header__link.icon-language English
							li.language-header__item 
								a(href="#").language-header__link.current.icon-language Russian
			button(type="button" data-modal-button="modal-notice-error").header__link(data-da=".header__links, 991.98, 2").icon-arrow-down Помощь
			.header__user.user-header
				.user-header__data 
					span.user-header__data-label managerweb@yandex.ru
					span.user-header__icon.icon-user-t
				.user-header__dropdown 
					.user-header__body
						.user-header__top 
							a(href="mailto:managerweb@yandex.ru") managerweb@yandex.ru
						ul.user-header__list 
							li.user-header__item 
								a(href="profile.html").user-header__link.icon-settings Настройки профиля
							li.user-header__item 
								a(href="auth.html").user-header__link.icon-exit Выйти
		.header-burger 
			.header-burger__lines
				span 
				span 
				span 

