.main {
    &__wrapper {
        position: relative;
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
    &__body {
        width: 100%;
        // padding-left: $asideWidth + 20px;
        padding-left: $asideWidth + 350px;
        padding-top: 30px;
        padding-right: 40px;
    }
    &__aside {
        width: $asideWidth + 330px;
        padding: 35px 20px;
        border-right: 1px solid $gray;
        background: $white;
        position: absolute;
        top: 0;
        left: 0;
        // height: 100%;
        min-height: 100%;
    }
    &__table {
        position: relative;
        overflow-y: hidden;
        overflow-x: auto;
        padding-bottom: 20px;
        position: relative;
        &.is-scrolled {
            &::after {
                opacity: 1;
            }
        }
        &.is-shadow {
            &::before {
                opacity: 1;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 44px;
            height: calc(100% - 20px);
            box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
            z-index: 1;
            opacity: 0;
            pointer-events: none;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 190px;
            height: calc(100% - 20px);
            box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
            z-index: 0;
            opacity: 0;
            pointer-events: none;
        }
    }
}
.filter {
    &__button {
        display: flex;
        width: 36px;
        height: 36px;
        padding: 6px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        padding: 6px;
        background-color: $red;
        border-radius: 6px;
        display: none;
        &::before {
            color: $white;
            font-size: 24px;
        }
    }
}
.main-search {
    &__form {
    }
    &__input {
    }
    &__btn {
    }
    &__result {
    }
    &__info {
    }
    &__title {
    }
    &__count {
    }
    &__actions {
    }
    &__button {
    }
    &__clear {
    }
}
.form-item {
}
.form-input {
}
.icon-search {
}
.result-search {
    &__top {
    }
    &__bottom {
    }
}
.btn-black {
}
.icon-clear {
}
.table {
}
.checkbox-item {
    &__input {
    }
    &__label {
    }
}
.button-view {
}
.icon-eye {
}
